body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin: 0 0;
    z-index: 0;
}

.el-input {
    width: 40%;
}

.el-select .el-input {
    width: 130px;
}

.input-with-select .el-input-group__prepend {
    background-color: #fff;
}

.el-header, .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

