html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F5%2F58e5a0a1a13f4.jpg&refer=http%3A%2F%2Fpic1.win4000.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1654012222&t=33307ea98f44f7323583992a9464b45c")
}
.el-input-group--append .el-input__inner, .el-input-group__prepend{
    color: blue;
    font-weight: bolder;
    border-color: blue;
}
.el-input-group--prepend .el-input__inner, .el-input-group__append{
    color: blue;
    font-weight: bolder;
    border-color: blue;
}
#app {
    height: 100%;
}

section {
    height: 100%;
}

.el-input {
    width: 40%;
}

.el-select .el-input {
    width: 130px;
}

.input-with-select .el-input-group__prepend {
    background-color: #fff;
}

.el-header, .el-footer {
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.clock_time {
    font-size: 3em;
    font-family: "Times New Roman", Georgia, serif;
    color: #00ff00;
}

.el-footer > div > a {
    text-decoration: none;
    color: #00ff00;
}

.el-footer > div {
    color: #00ff00;
}
