<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>蓝白起始页</title>
    <link rel="shortcut icon" href="./image/coffee_favicon.ico" type="image/x-icon">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body onload="document.getElementById('search_input').focus()">
<div id="app">
    <el-container>
        <el-main style="text-align: center; padding: calc((898px - 295px)/2.0)  0;">
            <div style="font-size: 3em;color: #4df5ff;font-family: 'Times New Roman',serif;">
                Myself Page
            </div>
            <div style="padding: 20px 0">
                <el-input id="search_input" style="font-family: 'Times New Roman',宋体,serif" placeholder="请输入搜索内容"
                          v-model="search_input" class="input-with-select"
                          @keydown.enter.native="common_search_option(select,search_input)">
                    <el-select v-model="select" style="font-family: 'Times New Roman',宋体,serif" slot="prepend"
                               placeholder="请选择">
                        <el-option label="Baidu" style="font-family: 'Times New Roman',serif" value="1"></el-option>
                        <el-option label="Google" style="font-family: 'Times New Roman',serif" value="2"></el-option>
                        <el-option label="BiliBili" style="font-family: 'Times New Roman',serif" value="3"></el-option>
                        <el-option label="Translation" style="font-family: 'Times New Roman',serif" value="4"></el-option>
                    </el-select>
                    <el-button slot="append" icon="el-icon-search"
                               @click="common_search_option(select,search_input)"></el-button>
                </el-input>
            </div>
            <div style="padding: 20px 0;">
                <a href="./video.html">
                    <el-button type="primary" round><span style="">视频影音</span></el-button>
                </a>
                <a href="./audio.html">
                    <el-button type="success" round><span style="">美妙音乐</span></el-button>
                </a>
                <a href="https://www.bilibili.com">
                    <el-button type="info" round><span style="">哔哩哔哩</span></el-button>
                </a>
                <a href="https://youtube.com">
                    <el-button type="warning" round><span style="">油管频道</span></el-button>
                </a>
                <a href="https://fanyi.baidu.com/">
                    <el-button type="danger" round><span style="">百度翻译</span></el-button>
                </a>
            </div>
            <div style="padding: 20px 0">
                <a href="https://www.aliyun.com/">
                    <el-button type="primary" round><span style="">阿里云云</span></el-button>
                </a>
                <a href="https://cloud.tencent.com/">
                    <el-button type="success" round><span style="">腾讯云云</span></el-button>
                </a>
                <a href="https://www.runoob.com/">
                    <el-button type="info" round><span style="">菜鸟教程</span></el-button>
                </a>
                <a href="https://gitee.com/">
                    <el-button type="warning" round><span style="">码云码云</span></el-button>
                </a>
                <a href="https://translate.google.cn/">
                    <el-button type="danger" round><span style="">谷歌翻译</span></el-button>
                </a>
            </div>

        </el-main>
        <el-footer style=" text-align: center;  padding: 10px 0;height: max-content;">
            <div style="color: #6b736b;font-family: 'Times New Roman', 宋体, serif;">
                <span>Copyright© 2022 <a
                        style="text-decoration: none;color: #6b736b;font-family: 'Times New Roman', 宋体, serif;"
                        target="_blank"
                        href="https://www.beian.gov.cn/portal/registerSystemInfo">蓝白咖啡</a> 版权所有</span>
            </div>
        </el-footer>
    </el-container>
</div>

</body>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="./js/vue.js"></script>
<!-- 引入组件库 -->
<script src="./js/element-ui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                search_input: '',
                select: '1',
            };
        },
        methods: {

            setCookie(cname) {
                document.cookie = "select=" + cname;
            },
            getCookie(cname) {
                let name = cname + "=";
                let ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i].trim();
                    if (c.indexOf(name) === 0) return c.substring(name.length, c.length);
                }
                return "";
            },
            common_search_option(select, search_input) {
                // todo 强调！注意: select === 1 这样的写法是错误的！！！ 定义的时候写的就是字符串 select: '1'
                if (select === "1") {
                    window.open("https://www.baidu.com/s?wd=" + search_input);
                } else if (select === "2") {
                    window.open("https://www.google.com/search?q=" + search_input);
                } else if (select === "3") {
                    window.open("https://search.bilibili.com/all?keyword=" + search_input);
                } else if (select === "4") {
                    window.open("https://fanyi.baidu.com/#en/zh/" + search_input);
                }
                this.setCookie(select);
            },

        },
        created() {
            this.$data.select = document.cookie.length === 0 ? "1" : this.getCookie("select");
        },
    })
</script>
</html>
