<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>蓝白起始页</title>
    <link rel="shortcut icon" href="./image/coffee_favicon.ico" type="image/x-icon">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body onload="document.getElementById('search_input').focus()">
<div id="app">
    <el-container>
        <el-header>
            <p class="clock_time">{{ time }}</p>
        </el-header>
        <el-main>
            <div class="demo-input-suffix">
                <el-input id="search_input" placeholder="请输入搜索内容" v-model="search_input" class="input-with-select"
                          @keydown.enter.native="keydown_search(select,search_input)">
                    <el-select v-model="select" slot="prepend" placeholder="请选择">
                        <el-option label="Baidu" value="1"></el-option>
                        <el-option label="Google" value="2"></el-option>
                    </el-select>
                    <el-button slot="append" icon="el-icon-search"
                               @click="button_search(select,search_input)"></el-button>
                </el-input>
            </div>
            <div>
                <el-row style="position: relative;top: -80px;">
                    <a href="./video.html">
                        <el-button type="primary" round><span style="font-weight: bolder">视频影音</span></el-button>
                    </a>
                    <a href="./audio.html">
                        <el-button type="success" round><span style="font-weight: bolder">美妙音乐</span></el-button>
                    </a>
                    <a href="https://www.bilibili.com">
                        <el-button type="info" round><span style="font-weight: bolder">哔哩哔哩</span></el-button>
                    </a>
                    <a href="https://cloud.ok7.icu/auth/welcome">
                        <el-button type="warning" round><span style="font-weight: bolder">速蛙云云</span></el-button>
                    </a>
                    <a href="https://fanyi.baidu.com/">
                        <el-button type="danger" round><span style="font-weight: bolder">百度翻译</span></el-button>
                    </a>
                </el-row>
                <el-row style="position: relative;top: -160px;">
                    <a href="https://www.aliyun.com/">
                        <el-button type="primary" round><span style="font-weight: bolder">阿里云云</span></el-button>
                    </a>
                    <a href="https://cloud.tencent.com/">
                        <el-button type="success" round><span style="font-weight: bolder">腾讯云云</span></el-button>
                    </a>
                    <a href="https://www.runoob.com/">
                        <el-button type="info" round><span style="font-weight: bolder">菜鸟教程</span></el-button>
                    </a>
                    <a href="https://gitee.com/">
                        <el-button type="warning" round><span style="font-weight: bolder">码云码云</span></el-button>
                    </a>
                    <a href="https://translate.google.cn/">
                        <el-button type="danger" round><span style="font-weight: bolder">谷歌翻译</span></el-button>
                    </a>
                </el-row>

            </div>
        </el-main>
        <el-footer>
            <div>
                Copyright© 2022 <a href="https://github.com/SunLionAhh">蓝白咖啡</a> 版权所有
            </div>
          </el-footer>
    </el-container>
</div>

</body>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="./js/vue.js"></script>
<!-- 引入组件库 -->
<script src="./js/element-ui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                time: "",
                search_input: '',
                select: '1',
            };
        },
        methods: {
            getTime() {
                setInterval(() => {
                    this.$data.time = new Date().toLocaleTimeString("Chinese", {hour: "2-digit", minute: "2-digit"});
                }, 1000)
            },
            setCookie(cname) {
                document.cookie = "select=" + cname;
            },
            getCookie(cname) {
                let name = cname + "=";
                let ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i].trim();
                    if (c.indexOf(name) === 0) return c.substring(name.length, c.length);
                }
                return "";
            },
            common_search_option(select, search_input) {
                // todo 强调！注意: select === 1 这样的写法是错误的！！！ 定义的时候写的就是字符串 select: '1'
                if (select === "1") {
                    window.open("https://www.baidu.com/s?wd=" + search_input);
                } else if (select === "2") {
                    window.open("https://www.google.com/search?q=" + search_input);
                }
                this.setCookie(select);
            },
            keydown_search(select, search_input) {
                this.common_search_option(select, search_input);
            },
            button_search(select, search_input) {
                this.common_search_option(select, search_input);
            },

        },
        created() {
            this.$data.select = document.cookie.length === 0 ? "1" : this.getCookie("select");
            this.getTime();
        },
    })
</script>
</html>
